a{
    color:blue;
    font-size: 20px;
}

div {
    color: gray;
}

#gg_brff {
    color: green;
    font-size: 14px;
}

.message {
    color: grey;
    background-color: Green;
    border: 1px solid #0f195c;
}

#Grey {
    color: #747474;
}

.fail {
    color: black;
    background-color: #0f195c;
    border: 1px solid black;
}

.govno {
    Color: white;
    background-color: white;
    border: 1px solid black;
}